.signup {
    //background: #ffffff;
    padding: 30px 60px;
    border-radius: 18px;
    border: 2px solid rgb(0, 0, 0);

    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);

    button {
        text-align: center;
        width: 100%;
        background: #000000;
        padding: 15px 20px;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        border: 2px solid #000000;
        transition: all 0.3s ease 0s;

        @media (hover: hover) {
            &:hover {
                background: #ffffff;
                color: #000000;
            }
        }
    }
}

.form {
    margin-top: 20px;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.input {
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background: #ffffff;
}
