@use '@mixins/index';

.problems {
    padding: 50px 0;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 900px;
}

.title {
    @include index.responsive-font(25, 27, 320, 768);
    border-radius: 20px;
    background: #000;
    color: white;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input {
    border: 2px solid #000000;
    border-radius: 10px;
    background: #ffffff;
}
