.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.27);
    z-index: 2;

    background: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content {
    //border: 2px solid black;
    //padding: 30px;
    //border-radius: 25px;
    //font-size: 25px;
    //background: #ffffff;
}
