.error {
  display: flex;
  align-items: center;

  background: rgba(255, 255, 255, 0.51);
  padding: 70px;
  border-radius: 25px;
  border: 2px solid #000000;
  font-size: 26px;
  color: #c03e3e;
  font-weight: 600;
}