.problemsReviews {
    margin-top: 70px;
}
.title {
    font-size: 30px;
    border-radius: 20px;
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    row-gap: 10px;
    margin-top: 30px;
}
.column {
    padding: 0 7px;
    flex: 0 1 33.333%;
    display: flex;
}

.item {
    background: #ffffff;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #000000;
    img {
        max-width: 18px;
    }
}
.text {
    font-size: 18px;
}
.author,
.location {
    font-weight: 600;
}

.author {
    margin-top: 30px;
}
.location {
    opacity: 0.6;
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-top: 5px;
}
