@use '@mixins/index';

.problemsReviews {
    margin-top: 70px;
}

.title {
    @include index.responsive-font(25, 27, 320, 768);
    border-radius: 20px;
    background: #000;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    row-gap: 10px;
    margin-top: 30px;
}
.column {
    padding: 0 7px;
    flex: 1 1 33.333%;
    display: flex;
    min-width: 230px;
}

.item {
    background: #ffffff;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    img {
        max-width: 18px;
    }
}
.text {
    font-size: 18px;
    flex: 1 1 auto;
}
.author,
.location {
    font-weight: 600;
}

.author {
    margin-top: 30px;
}
.location {
    opacity: 0.6;
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-top: 5px;
}
