@use './variables/global.scss';
@use './variables/colors.scss';
@use './mixins/index';
@use 'reset';

html {
    scroll-behavior: smooth;
    //scroll-padding-top: 150px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(90deg, #ca5875, #96c0ee);
    background: linear-gradient(90deg, #ca5875, #96c0ee);
    a {
        color: colors.$black;
    }
    main {
        flex: 1 1 auto;
    }
    &._isLock {
        overflow: hidden;
        padding-right: 15px;

        @media (max-width: 992px) {
            padding-right: 0;
        }
    }
}

%container {
    padding: 0 #{global.$sideIndent + px};
    margin: 0 auto;
}

._container-large {
    @extend %container;
    max-width: global.$maxWidthContainerLarge;
}
._container-default {
    @extend %container;
    max-width: global.$maxWidthContainer;
}
._title {
    color: colors.$black;
    text-align: center;
    @include index.responsive-font(34, 64, 320, 1800);
}
