@use '@mixins/index';

.about {
    @include index.responsive-property('marginTop', 100, 150, 320, 768);
}
.row {
    display: flex;
    column-gap: 50px;
}
.column {
    flex: 0 1 50%;
}
.title {
    color: #ffffff;
    background: black;
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
    @include index.responsive-font(40, 70, 320, 768);
}
.description {
    margin-top: 20px;
    @include index.responsive-font(18, 28, 320, 768);
}
.img {
    height: 100%;
    img {
        max-width: 100%;
        border-radius: 10px;
        object-fit: cover;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        img {
            width: 100%;
            max-height: 400px;
        }
    }
}

@media (max-width: 425px) {
    .title {
        border-radius: 20px;
    }
}
