.invite {
    margin-top: 150px;
}
.title {
    font-size: 27px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
    background: black;
    border-radius: 30px;
    padding: 20px;
}
.row {
    margin-top: 50px;
}
.img {
    img {
        border-radius: 15px;
    }
}
