@use '@mixins/index';

.principles {
    @include index.responsive-property('marginTop', 100, 150, 320, 768);
}

.title {
    font-size: 27px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
    background: black;
    border-radius: 30px;
    padding: 20px;
}
.subtitle {
    font-weight: 500;
    font-size: 22px;
}

.row {
    display: flex;
    margin: 50px -10px 0 -10px;
    row-gap: 70px;
    @include index.responsive-property('marginTop', 30, 50, 320, 768);
}
.column {
    flex: 0 1 25%;
    display: flex;
    padding: 0 10px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.img {
    margin-top: 10px;
    width: 140px;
    height: 140px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 70px;
    }
}
.description {
    margin-top: 10px;
    text-align: center;
    flex: 1 1 auto;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }
    .column {
        flex: 1 1 50%;
        min-width: 260px;
    }
}
