.search {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 70px;

    background: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.close {
    position: fixed;
    top: 50px;
    right: 70px;
}
