.appInput {
    input {
        border-radius: 15px;
        width: 100%;
        height: 50px;
        padding: 15px 25px;
        font-size: 20px;

        &::placeholder {
            font-size: 15px;
            color: rgba(51, 51, 51, 0.57);
        }
    }
}
